<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console appender configuration -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="Exposed" level="INFO" additivity="false">
        <appender-ref ref="Console" />
    </logger>

    <logger name="net.fortuna.ical4j.model.Recur" level="INFO" additivity="false">
        <appender-ref ref="Console" />
    </logger>

    <root level="DEBUG">
        <appender-ref ref="Console"/>
    </root>
</configuration>
